/.vscode
/Articulation Manager - v3.xlsm
/BRVLN Open Stage Control Template + Guide 10.23.20 update
/Config loop midi.config
/file_path
/Flute Dev.xml
/node_modules
/Online Template
/package-lock.json
/package.json
/section-panels
/STR_Lng CSS.expressionmap
/__pycache__
/template-info.xlsx
/template-tracks.xlsx
/Cubase Presets
/Section Panels
/extra-files
/orchestral_doublers/__pycache__
/orchestral_sections/__pycache__
/custom-modules